:root {
  --primary-color: #00b8ff;
  --secondary-color: #ff6b6b;
  --background-color: #f7f7f7;
  --text-color: #333;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  position: relative;
}

body::before {
  content: "";
  background-image: url("https://www.hiveworkshop.com/media/cloud-texture-above-clouds-fairy-tale-sky-texture.107282/full");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: grayscale(100%);
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.primary {
  background-color: var(--primary-color);
  color: #fff;
}

button.primary:hover {
  background-color: #0093c4;
}

button.secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

button.secondary:hover {
  background-color: #e45b5b;
}

form {
  margin-bottom: 1rem;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--primary-color);
}

.add-thread-container {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-thread-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.add-thread-container .success-message {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.new-university-form-container {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-university-form-container h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.new-university-form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.new-university-form-container .success-message {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.uni-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.uni {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uni-link {
  text-decoration: none;
}

.uni:hover {
  transform: translateY(-5px);
}

.uni h1 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.uni.green {
  background-color: var(--primary-color);
}

.uni.orange {
  background-color: var(--secondary-color);
}

.schoolname-container {
  background-color: var(--background-color);
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.schoolname-container .threads-container {
  margin-bottom: 1rem;
}

.threads-container {
  padding: 1rem;
}

.threads-container h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.threads-container ul {
  padding: 0;
  margin: 0;
}

.threads-container li {
  margin-bottom: 1rem;
}

.threads-container li.thread {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 120px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.threads-container li.thread:hover {
  transform: translateY(-5px);
}

.threads-container li.thread a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 60px;
  font-weight: bold;
}

.threads-container li.thread .votes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
  font-size: 20px;
}

.threads-container li.thread .votes span {
  margin-bottom: 0.5rem;
}

.threads-container li.thread .votes button {
  background: none;
  border: none;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
}

.threads-container li.thread .vote-placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
  font-size: 20px;
  color: var(--text-color);
}

.threads-container li.thread .vote-placeholder span {
  margin-bottom: 0.5rem;
}

.threads-container li.thread .vote-placeholder button {
  background: none;
  border: none;
  padding: 0;
  font-size: 30px;
  color: var(--text-color);
  cursor: pointer;
}

.featured-schoolname-container {
  background-color: transparent;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featured-threads-container {
  padding: 1rem;
  background-color: transparent;
}

.featured-threads-container h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.featured-threads-container ul {
  padding: 0;
  margin: 0;
}

.featured-threads-container li {
  margin-bottom: 1rem;
  background-color: transparent;
}

.featured-threads-container li.thread {
  display: flex;
  align-items: center;
  padding: 1rem;
  height: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.featured-threads-container li.thread:hover {
  transform: translateY(-5px);
}

.featured-threads-container li.thread a {
  text-decoration: none;
  color: white;
  font-size: 60px; 
  font-weight: bold;
}

.posts-container {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.posts-container h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.posts-container ul {
  padding: 0;
  margin: 0;
}

.posts-container li {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.posts-container li:hover {
  transform: translateY(-5px);
}

.posts-container li .content {
  margin-bottom: 0.5rem;
}

.posts-container li .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-container li .votes {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.posts-container li .votes span {
  margin-right: 0.5rem;
}

.posts-container li .buttons {
  display: flex;
  gap: 0.5rem;
}

.posts-container li .buttons button {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: #fff;
}

.posts-container li .buttons button.reply {
  background-color: var(--secondary-color);
}

.posts-container li .buttons button:hover {
  background-color: #0093c4;
}

.posts-container li .buttons .login {
  background-color: var(--primary-color);
}

.posts-container li .buttons .login:hover {
  background-color: #0093c4;
}

.posts-container li .user-info {
  display: flex;
  font-weight: bold;
  font-style: italic;
  gap: 0.5rem;
}

.posts-container li ul.replies {
  margin-left: 1rem;
}

.posts-container li.reply-post {
  background-color: #f5f5f5;
  font-size: 0.9rem;
}

.posts-container li.reply-post .content {
  margin-bottom: 0.3rem;
}

.posts-container li.reply-post .parent-post-info {
  margin-bottom: 0.5rem;
}

.posts-container li.regular-post {
  font-size: 1rem;
  background-color: #fff;
}

.posts-container li.regular-post .content {
  margin-bottom: 0.5rem;
}

.posts-container li.regular-post .parent-post-info {
  display: none;
}

.posts-container .reply-box {
  margin-top: 10px;
  padding: 6px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.posts-container .reply-box textarea {
  width: 100%;
  min-height: 40px;
  margin-bottom: 6px;
  resize: vertical;
}

.posts-container .reply-box button {
  padding: 4px 8px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.posts-container .reply-box button:hover {
  background-color: #0069d9;
}

.header-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  /* Adjust the desired width and height */
  width: 200px;
  height: 100px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.header-text {
  text-align: center;
  color: #000;
}

.header-text h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: 'Georgia', serif;
}

.header-text .site-name {
  font-size: 3rem;
  font-family: 'Impact', sans-serif;
}

.featured-header-text .main-subtitle {
  font-size: 2rem; /* Larger font size */
  font-family: 'Courier New', monospace;
  font-style: italic; /* Italic style */
}

.featured-header-text .tagline {
  font-size: 1.5rem; /* Larger font size */
  font-family: 'Verdana', sans-serif;
  font-style: italic; /* Italic style */
}

.featured-header-box {
  width: 100%;
  padding: 1rem;
}

.featured-header-text {
  text-align: center;
  color: #000;
}

.navbar {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-links a:hover {
  color: #333;
  background-color: #f2f2f2;
}

.navbar-links .active-link {
  color: #333;
  border-bottom: 2px solid #333;
  background-color: #fff;
  border-radius: 4px;
}

.add-post-container {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-post-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.add-post-container form {
  margin-bottom: 1rem;
}

.add-post-container textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.add-post-container textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.add-post-container button {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--primary-color);
  color: #fff;
}

.add-post-container button:hover {
  background-color: #0093c4;
}

.login-container,
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box,
.signup-box {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
}

.login-box form,
.signup-box form {
  display: flex;
  flex-direction: column;
}

.login-box input,
.signup-box input,
.signup-box select {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.login-box input[type="submit"],
.signup-box input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login-box input[type="submit"]:hover,
.signup-box input[type="submit"]:hover {
  background-color: #0093c4;
}

.login-box button,
.signup-box button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.signup-box p {
  color: red;
  margin-bottom: 1rem;
}

.signup-box select {
  padding: 0.5rem;
}

.signup-box option {
  padding: 0.5rem;
}

.search-background {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.search-bar {
  width: 80%;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.new-university-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-university-form-container h1,
.new-university-form-container h2 {
  margin-bottom: 1rem;
}

.new-university-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-university-form-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.new-university-form-container input[type="submit"] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.new-university-form-container input[type="submit"]:hover {
  background-color: #0093c4;
}

.user-details-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user-details-container h2 {
  margin-bottom: 1rem;
}

.user-details-container button {
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

.user-details-container button:hover {
  text-decoration: underline;
}
